*.retry
.vagrant/
docker-compose.yml
docker-compose.override.yml
fetch/
inventories/*.yml
!inventories/*.*.yml
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
ubuntu-*-console.log
